html {
    background-color: #9d7dbc;
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    font-family: "Courier New", Garamond, serif;
}

h1 {
    background-color: white;
    padding: 3px;
    border: 5px dashed #9d7dbc;
}

img {   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 5px double white;
    height: auto;
    width: 500px;
}

.index-links {
    background-color: white;
}

.recipe-body {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border: 5px dashed #9d7dbc;
}

.ingredients-block,
.steps-block {
    font-family: "Times New Roman", Garamond, serif;
}